@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(to right, #7ed957, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}